## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
a=2
print(a)

2

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [5]:
name ='Gloria Molina'
print(name)

Gloria Molina

5) Crear una variable que contenga un número complejo

In [6]:
Nc=5+2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(Nc)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
Var1=True
var2='True'

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [14]:
print(type(Var1), type(var2))

<class 'bool'> <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
num = 5+3.2

11) Realizar una operación de suma de números complejos

In [20]:
b= 3+2j
a=1+2j
print(b+a)

(4+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [22]:
sum=a+3
print(sum)

(4+2j)

13) Realizar una operación de multiplicación

In [23]:
Mul=3*6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [24]:
Pot= 2**8
print(Pot)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [25]:
Dc=27/4
print(Dc)

6.75

16) De la división anterior solamente mostrar la parte entera

In [26]:
de=27//4
print(de)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
dr=27%4
print(dr)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [28]:
var3 = 4*de+dr 
print(var3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [47]:
alfa1='Colombia'
alfa2='Hermosa'
print (alfa1,'es',alfa2)

Clombia es Hermosa

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [35]:
var5= ("2"==2)
print(var5)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [38]:
2 ==int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [41]:
a = float('3,8') #Numero guardado como srt

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [40]:
var7 = 3
var7-=2
print(var7)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [42]:
1<<2
#sistema de numeracion binario corresponde a los unos y ceros que es el lenguaje que entienedn los computadores

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [43]:
2+'2'
#Genera error por que uno es un Int y el otro un  string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [49]:
var1 = 'este texto se repite '
var2 = 4
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite este texto se repite 4 veces

NameError: name 'commit' is not defined